<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 接口的全限定符 -->
<mapper namespace="njust.mapper.TaskMapper">
    <select id="selectAllTaskByPage" resultType="task">
        select * from task
    </select>
    <insert id="insertTask">
        insert into task(taskname,taskcontext,reward,publish_id,publish_name,addtime)
        values(#{taskName},#{taskContext},#{reward},#{publishId},#{publishName},#{addTime})
    </insert>
</mapper>